<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css"/>
 
    <title>Gallery</title>
</head>
<body>
    
    <div class="bg-image"></div>

    <div class="gallery-flex-container">
        <div class="gallery">
            <a href="#"> 
                <img src="../images/goldenret.jpg" alt="Golden Retriever">
            </a>
            <div class="description">Golden Retriever</div>
        </div>
        <div class="gallery"> 
            <a href="#">
                <img src="../images/corgi.jpg" alt="Corgi">
            </a>
            <div class="description">Corgi</div>
        </div>
        <div class="gallery"> 
            <a href="#"> 
                <img src="../images/bulldog.jpg" alt="Bulldog">
            </a>
            <div class="description">Bulldog</div>
        </div>
        <div class="gallery"> 
            <a href="#"> 
                <img src="../images/pom.jpg" alt="Pomeranian">
            </a>
            <div class="description">Pomeranian</div>
        </div>
        <div class="gallery"> 
            <a href="#">
                <img src="../images/german-shepherd.jpg" alt="German Shepherd">
            </a>
            <div class="description">German Shepherd</div>
        </div>
        <div class="gallery"> 
            <a href="#">
                <img src="../images/beagle.jpg" alt="Beagle">
            </a>
            <div class="description">Beagle</div>
        </div>
        <div class="gallery"> 
            <a href="#">
                <img src="../images/poodle.jpg" alt="Poodle">
            </a>
            <div class="description">Poodle</div>
        </div>
        <div class="gallery"> 
            <a href="#"> 
                <img src="../images/rottweiler.jpg" alt="Rottweiler">
            </a>
            <div class="description">Rottweiler</div>
        </div>
        <div class="gallery"> 
            <a href="#">
                <img src="../images/chow.jpg" alt="Chow Chow">
            </a>
            <div class="description">Chow Chow</div>
        </div>
        <div class="gallery"> 
            <a href="#">
                <img src="../images/husky.jpg" alt="Siberian Husky">
            </a>
            <div class="description">Siberian Husky</div>
        </div>
    </div>
  
</body>
</html>
